
/*HARD GOTHIC FONT*/
@font-face {
  font-family: "Gothic1"; /* Гарнитура шрифта */
  src: url("./assets/fonts/7883.ttf"); /* Путь к файлу со шрифтом */
 }
 /*LIGHT GOTHIC FONT*/
 @font-face {
   font-family: "Gothic2";
   src: url("./assets/fonts/Virginia_NT.ttf");
  }

/*цевт и тень navbar*/
#main_nav {
  background-color: #DB0000;
  box-shadow: 0px 2px 10px #af0000;
}

#main_nav a {
  font-family: "Gothic1";
  font-size: 32px;
  color: black;
  text-decoration: none;
}
/*стиль ссылок на navbar*/
.navlinks {
  color: black;
}

.navlinks:hover {
  color: white;
  text-decoration: none;
}

.spellsicons {
  margin: 10px;
  margin-top: 15px;
  padding: 5px;
}
.spellsicons:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: relative; /* Абсолютное позиционирование */
    left: 2%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: #181818; /* Полупрозрачный цвет фона */
    color: #DB0000;
    font-family: "Gothic2", sans-serif; /* Гарнитура шрифта */
    font-size: 16px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 3px solid #DB0000; /* Параметры рамки */
   }

body {
  background-color: black;
}
h2 {
  font-family: "Gothic2";
  color: #DB0000;
  margin: 10px;
  margin-top: 15px;
  padding: 5px; 
}
